@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}
@layer utilities {
	.main-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}
body {
	display: grid;
	grid-template-columns: auto 1fr;
}

li#transactions:last-child {
	border-bottom: 0;
  padding-bottom: 0;
}
